/*Ton fichier pour toutes tes animations @Keyframes*/

/* Animation keyframes */
@keyframes rain-drop {
  0% {
    bottom: -20px;
    opacity: 0;
  }
  10% {
    opacity: 0.8; /* Apparition progressive */
  }
  90% {
    opacity: 0.8; /* Maintien de l'opacité pendant la montée */
  }
  100% {
    bottom: 100%; /* Montée jusqu'en haut */
    opacity: 0; /* Disparition en arrivant en haut */
  }
}

/* @keyframes marquee {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%); 
  }
}

@media (min-width: 768px) {
  @keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
  }
} */

/* comment appliquer ces animations ? */
/* Ligne normale sans effet de fondu 
  <div class="marquee-container">
    <div class="marquee-content"> */

/* Ligne avec fondu à droite 
    <div class="marquee-container fade-right">
      <div class="marquee-content direction-reverse"> */

/* Ligne avec fondu au centre
      <div class="marquee-container fade-center">
        <div class="marquee-content speed-slow"> */

/* Ligne avec fondu aux extrémités
        <div class="marquee-container fade-edges">
          <div class="marquee-content speed-fast"> */
