/*  Ton fichier contenant toutes des variables de couleurs pour ton site  */
:root {
    --background: #f2f0ee;
    --cray: #a9aaa9;
    --primary: #515251;
    --primary-dark: #404040;
    --primary-light: #F6F6F6;
    --blk: #222222;
    --text-high-contrast: #000000;
    --wht: #FEFEFE;
    --alert: #FF4800;
    --alert-opacity: rgb(255, 72, 0, 0.2); /*presque transparent : 0.8 à peine transparent ; 0.5 mi-transparent*/
    --alert-hover: #AD0707;
    --message: #C2EBC4;
    --message-hover:#9DD8A0;
    --shadow-light: #DBDFDB;
    --shadow-dark: #c9cac9;
    --static-opacity: rgba(81, 82, 81, 0.17);
}